@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
* {
    font-family: Cairo;
}

section {
    margin: 80px;
}


#about {
    text-align: center;
    margin: 40px;
}

#about img {
    width: 200px;
    border-radius: 100%;
}

#about h1 {
    margin: 25px;
}

section {
    margin: 40px;
}

.card .card-header {
    cursor: pointer;
  }

.toolsContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.toolLogo {
    max-width: 95px;
    margin: 15px;
}

.employerLogoContainer {
    text-align: center;
    margin: 25px;
}

.employerLogo {
    max-width: 200px;
}
